.container-style {
  margin-top: 30px;
}

.table-style {
  margin-top: 30px;
}

.generate-button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.agent-details-container {
  margin-top: 30px;
}

.agent-details-container p {
  margin: 0;
  font-size: 20px;
}

.text-area-style {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.summary-container p {
  margin: 0;
}
